a {
  display: block;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

input, button {
  text-align: center;
  border-radius: 5px;
  font-size: 30px;
}

h1 {
  text-align: center;
  background: lightblue;
  height: 50px;
  width: 100%;
}
